* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: #f9f9f9;
    color: #333;
}

header {
    background: #333333;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818, #333333);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818, #333333);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+,
Opera 12+, Safari 7+ */

    color: white;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    height: 7rem;
    flex-wrap: wrap;
    position: relative;

}

.profile {
    text-align: left;
}

.fondoblanco {
    width: 160px;
    border-radius: 50%;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 43%;
    box-shadow: -1px -10px 20px #ffffff;
}

.avatar {
    width: 160px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 43%;
    box-shadow: 1px 10px 20px #dd1818;
}

.profile h1 {
    font-size: 2rem;
}

.profile h1 span {
    font-weight: bold;
    width: 100%;
}

.contact-info {
    text-align: right;
    position: relative;
    top: 20px;
}

.download-btn {
    background: #dd1818;
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 0 20px #ffffff;
    position: relative;
    top: 3rem;
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: auto;
}

section {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 1rem;
    color: #dd1818;
    text-transform: uppercase;
}

.edu-items{
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    display: flex;
    justify-content: center;
    gap: 29rem;
    padding: 1rem;

}
.exp-items{
    display: flex;
    gap: 2rem;
}
.non {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 27%;
    height: 15vh;
    padding: 0.5rem;
    border-radius: 8px;
    border-top: 5px solid #d85050;
    background-color: #e6e3e3;

}

.highlighted {
    background: #f84d4d;
    padding: 0.5rem;
    border-radius: 8px;
    border-top: 5px solid #dd1818;
    width: 25%;
    height: 15vh;
}



.languages ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0;
}

.languages li {
    border-bottom: 2px solid #dd1818;
    padding-bottom: 4px;
}

footer {
    text-align: center;
    padding: 1rem;
    color: gray;
}

.tecno,
.bachi{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}
#barra1 {
  width: 100%;
  height: 8px;
  appearance: none;} /* Para que no se vea el estilo predeterminado del navegador */

#barra1::-webkit-progress-bar {
  background-color: #ffc3c3;
}

#barra1::-webkit-progress-value {
  background-color: #ad0000; /* Color de la barra de progreso */
}
#barra2 {
  width: 100%;
  height: 8px;
  appearance: none; /* Para que no se vea el estilo predeterminado del navegador */
  background-color: #ffc7c7; /* Color de fondo de la barra */
}

#barra2::-webkit-progress-bar {
  background-color: #ffc3c3;
}

#barra2::-webkit-progress-value {
  background-color: #ad0000; /* Color de la barra de progreso */}